<body>
<header class="flex justify-between px-10 py-5 bg-[#2BAE66] text-[#FCF6F5]">
    <ul class="flex gap-5">
        <li><a class="border-[1px] px-5 py-2 border-transparent <%= locals.path === "/" ? "border-white" : "hover:border-white" %>" href="/">Shop</a></li>
        <% if (isAuthenticated) { %>
        <li><a class="border-[1px] px-5 py-2 border-transparent <%= locals.path === "/admin/manage-products" ? "border-white" : "hover:border-white" %>" href="/admin/manage-products">Manage Products</a></li> <% } %>
    </ul>
    <ul class="flex flex-row-reverse gap-5">
<% if (isAuthenticated) { %>
        <li><a class="border-[1px] px-5 py-2 border-transparent <%= locals.path === "/auth/logout" ? "border-white" : "hover:border-white" %>" href="/auth/logout">logout</a></li> 
        <li><a class="border-[1px] px-5 py-2 border-transparent <%= locals.path === "/cart" ? "border-white" : "hover:border-white" %>" href="/cart">cart</a></li>
        <li><a class="border-[1px] px-5 py-2 border-transparent <%= locals.path === "/orders" ? "border-white" : "hover:border-white" %>" href="/orders">Orders</a></li>
<% } else { %>
        <li><a class="border-[1px] px-5 py-2 border-transparent <%= locals.path === "/auth/signup" ? "border-white" : "hover:border-white" %>" href="/auth/signup">signup</a></li>
        <li><a class="border-[1px] px-5 py-2 border-transparent <%= locals.path === "/auth/login" ? "border-white" : "hover:border-white" %>" href="/auth/login">login</a></li> <% } %>
    </ul>
</header>
<%- include("./message.ejs") %>
<%- include("./validator_message.ejs") %>
<main class="px-10 py-5">