<div
  class="px-5 py-3 border-[1px] border-black w-[320px] text-center hover:border-[#2BAE66] hover:shadow-lg flex flex-col justify-between"
>
  <div>
    <img
      class="my-2"
      src="<%= product.imageUrl %>"
      alt="<%= product.title %>"
    />
    <div class="mb-2">
      <h3 class="text-xl"><%= product.title %></h3>
      <span class="text-gray-400 text-sm"><%= product.description %></span>
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <div class="flex justify-between items-center">
      <span class="text-xl">$<%= product.price %></span>
      <% if (isAuthenticated) { %> <% if (!admin) { %>
      <form action="/cart/add-product/<%= product._id %>" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button
          class="px-3 py-1.5 bg-[#2BAE66] text-[#FCF6F5] rounded-lg border-[1px] hover:bg-[#FCF6F5] hover:border-[#2BAE66] hover:text-[#2BAE66]"
          type="submit"
        >
          Add To Cart
        </button>
      </form>
      <% } else { %>
      <div>
        <a
          href="/admin/manage-products/delete-product/<%= product._id %>"
          class="px-3 py-2 bg-[#990011] text-[#FCF6F5] rounded-lg border-[1px] hover:bg-[#FCF6F5] hover:border-[#990011] hover:text-[#990011]"
          >Delete</a
        >
        <button
          data-modal-target="edit-product-modal-<%= product._id %>"
          data-modal-toggle="edit-product-modal-<%= product._id %>"
          class="px-3 py-1.5 bg-[#2BAE66] text-[#FCF6F5] rounded-lg border-[1px] hover:bg-[#FCF6F5] hover:border-[#2BAE66] hover:text-[#2BAE66]"
        >
          Edit
        </button>
        <div
          id="edit-product-modal-<%= product._id %>"
          data-modal-backdrop="static"
          tabindex="-1"
          aria-hidden="true"
          class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
        >
          <div class="bg-white px-10 py-5 w-[350px]">
            <h3 class="text-2xl">Update Product</h3>
            <hr class="my-5" />
            <form
              action="/admin/manage-products/edit-product/<%= product._id %>"
              method="post"
              class="flex flex-col gap-5"
            >
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="flex flex-col gap-1">
                <label for="productName">Name:</label>
                <input
                  id="productName"
                  name="productName"
                  type="text"
                  class="border-[1px] border-[#2BAE66] outline-none px-3 py-2"
                  value="<%= product.title %>"
                />
              </div>
              <div class="flex flex-col gap-1">
                <label for="productPrice">Price:</label>
                <input
                  id="productPrice"
                  name="productPrice"
                  type="text"
                  class="border-[1px] border-[#2BAE66] outline-none px-3 py-2"
                  value="<%= product.price %>"
                />
              </div>
              <div class="flex flex-col gap-">
                <label for="productDescription">Product Description:</label>
                <input
                  id="productDecription"
                  name="productDescription"
                  type="text"
                  class="border-[1px] border-[#2BAE66] outline-none px-3 py-2"
                  value="<%= product.description %>"
                />
              </div>
              <div class="flex flex-col gap-2">
                <label for="productImage">Product Image:</label>
                <input
                  id="productImage"
                  name="productImage"
                  type="text"
                  class="border-[1px] border-[#2BAE66] outline-none px-3 py-2"
                  value="<%= product.imageUrl %>"
                />
              </div>
              <div class="flex flex-col gap-2">
                <button
                  data-modal-hide="edit-product-modal-<%= product._id %>"
                  class="py-2 rounded-full border-[1px] bg-[#2BAE66] hover:bg-[#FCF6F5] hover:border-[#2BAE66] text-[#FCF6F5] hover:text-[#2BAE66]"
                  type="submit"
                >
                  Update
                </button>
                <button
                  data-modal-hide="edit-product-modal-<%= product._id %>"
                  class="py-2 rounded-full border-[1px] bg-[#990011] hover:bg-[#FCF6F5] hover:border-[#990011] text-[#FCF6F5] hover:text-[#990011]"
                  type="button"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <% } } %>
    </div>
  </div>
</div>
