<%-include("../../includes/head.ejs")%>
<h3 class="text-3xl">Orders</h3>
<div class="py-5 flex flex-col gap-5">
    <% if (orders.length > 0 ) { for (order of orders) {%>
        <div class="border-2 p-5">
        <h4 class="text-xl">ID#<%= order._id %> | <a href="/orders/invoice/<%= order._id %>" class="underline text-blue-400 hover:text-blue-800">Invoice</a></span>
        <hr>
        <div class="py-2 flex justify-between items-start">
            <ul class="text-sm flex gap-5">
                <% for (p of order.products) { %>
                    <li>
                        <ul>
                            <li>Product Name: <%= p.product.title %></li>
                            <li>Product Price: $<%= p.product.price %></li>
                            <li>Product Count: <%= p.count %></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
            <span>Total Price: <%= order.totalPrice %></span>
        </div>
        </div>
    <% }} else { %>
        <h1 class="text-2xl">Empty!</h1>
    <% } %>
</div>
<%-include("../../includes/end.ejs")%>
